In [1]:
# Aula 002

In [2]:
# import de bibliotecas
import numpy as np
import pandas as pd

In [4]:
dates = pd.date_range('20201130', periods = 6)
dates

DatetimeIndex(['2020-11-30', '2020-12-01', '2020-12-02', '2020-12-03',
               '2020-12-04', '2020-12-05'],
              dtype='datetime64[ns]', freq='D')

In [5]:
# Criando um dataframe randomico
df = pd.DataFrame(np.random.randn(6,4), index = dates, columns = list('ABCD'))
df

                   A         B         C         D
2020-11-30  0.580483 -0.255829  2.816224 -0.502759
2020-12-01 -0.001450 -0.295149  0.115832  0.644074
2020-12-02  0.979318  0.656369 -0.045708  0.207883
2020-12-03 -1.314660 -0.753335  0.037076 -2.024365
2020-12-04  0.179981 -1.077448 -0.116460 -1.004184
2020-12-05  0.356974  0.035535  0.814699  0.431980

In [11]:
# selecionando colunas
df.loc[:, ['A', 'C']]

                   A         C
2020-11-30  0.580483  2.816224
2020-12-01 -0.001450  0.115832
2020-12-02  0.979318 -0.045708
2020-12-03 -1.314660  0.037076
2020-12-04  0.179981 -0.116460
2020-12-05  0.356974  0.814699

In [16]:
# criar nova serie
s = pd.Series([1, 2, np.nan, 4, np.nan, 6], index = dates)
s

2020-11-30    1.0
2020-12-01    2.0
2020-12-02    NaN
2020-12-03    4.0
2020-12-04    NaN
2020-12-05    6.0
Freq: D, dtype: float64

In [17]:
# indexando uma serie com coluna
df['E'] = s
df

                   A         B         C         D    E
2020-11-30  0.580483 -0.255829  2.816224 -0.502759  1.0
2020-12-01 -0.001450 -0.295149  0.115832  0.644074  2.0
2020-12-02  0.979318  0.656369 -0.045708  0.207883  NaN
2020-12-03 -1.314660 -0.753335  0.037076 -2.024365  4.0
2020-12-04  0.179981 -1.077448 -0.116460 -1.004184  NaN
2020-12-05  0.356974  0.035535  0.814699  0.431980  6.0

In [20]:
# criando uma nova coluna com numpy e numero fixo
df['F'] = np.array([9] * len(df))
df

                   A         B         C         D    E  F
2020-11-30  0.580483 -0.255829  2.816224 -0.502759  1.0  9
2020-12-01 -0.001450 -0.295149  0.115832  0.644074  2.0  9
2020-12-02  0.979318  0.656369 -0.045708  0.207883  NaN  9
2020-12-03 -1.314660 -0.753335  0.037076 -2.024365  4.0  9
2020-12-04  0.179981 -1.077448 -0.116460 -1.004184  NaN  9
2020-12-05  0.356974  0.035535  0.814699  0.431980  6.0  9

In [25]:
# preencher valores NaN com 1.98
df1 = df.fillna(value=1.98)

In [26]:
df1

                   A         B         C         D     E  F
2020-11-30  0.580483 -0.255829  2.816224 -0.502759  1.00  9
2020-12-01 -0.001450 -0.295149  0.115832  0.644074  2.00  9
2020-12-02  0.979318  0.656369 -0.045708  0.207883  1.98  9
2020-12-03 -1.314660 -0.753335  0.037076 -2.024365  4.00  9
2020-12-04  0.179981 -1.077448 -0.116460 -1.004184  1.98  9
2020-12-05  0.356974  0.035535  0.814699  0.431980  6.00  9

In [28]:
# Aplicando uma função que faz o máximo menos o minimo
df1.apply(lambda x: x.max() - x.min())

A    2.293978
B    1.733817
C    2.932684
D    2.668439
E    5.000000
F    0.000000
dtype: float64

In [35]:
# Sumariza as colunas
df1.sum()

A     0.780645
B    -1.689857
C     3.621663
D    -2.247370
E    16.960000
F    54.000000
dtype: float64

In [40]:
# Sumariza as linhas
df.sum(1)

2020-11-30    12.638118
2020-12-01    11.463307
2020-12-02    10.797862
2020-12-03     8.944715
2020-12-04     6.981890
2020-12-05    16.639189
Freq: D, dtype: float64

In [41]:
# refaz a matriz, acumulando valores
df1.apply(np.cumsum)

                   A         B         C         D      E   F
2020-11-30  0.580483 -0.255829  2.816224 -0.502759   1.00   9
2020-12-01  0.579033 -0.550979  2.932056  0.141315   3.00  18
2020-12-02  1.558351  0.105391  2.886348  0.349197   4.98  27
2020-12-03  0.243690 -0.647945  2.923424 -1.675167   8.98  36
2020-12-04  0.423672 -1.725392  2.806964 -2.679351  10.96  45
2020-12-05  0.780645 -1.689857  3.621663 -2.247370  16.96  54

In [42]:
# Criar uma tupla
tuples = list(zip(*[['bar', 'bar', 'baz', 'baz',
                     'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))

In [43]:
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [45]:
# indexar a tupla
index = pd.MultiIndex.from_tuples(tuples, names=['primeiro', 'segundo'])
index

MultiIndex([('bar', 'one'),
            ('bar', 'two'),
            ('baz', 'one'),
            ('baz', 'two'),
            ('foo', 'one'),
            ('foo', 'two'),
            ('qux', 'one'),
            ('qux', 'two')],
           names=['primeiro', 'segundo'])

In [47]:
# criando o dataframe
df = pd.DataFrame(np.random.randn(8, 2), index = index, columns = ['A', 'B'])
df.head()

                         A         B
primeiro segundo
bar      one     -0.457245  0.987055
         two      0.517845 -0.862467
baz      one      0.111652 -1.012069
         two      0.127792 -0.803913
foo      one      0.778990 -1.318359

In [49]:
df.shape

(8, 2)

In [51]:
# Empilhar colunas
stacked = df.stack()
stacked

primeiro  segundo
bar       one      A   -0.457245
                   B    0.987055
          two      A    0.517845
                   B   -0.862467
baz       one      A    0.111652
                   B   -1.012069
          two      A    0.127792
                   B   -0.803913
foo       one      A    0.778990
                   B   -1.318359
          two      A   -2.242985
                   B    0.145137
qux       one      A    1.891695
                   B   -1.465361
          two      A   -1.173463
                   B   -1.717235
dtype: float64

In [53]:
unstack = stacked.unstack()
unstack

                         A         B
primeiro segundo
bar      one     -0.457245  0.987055
         two      0.517845 -0.862467
baz      one      0.111652 -1.012069
         two      0.127792 -0.803913
foo      one      0.778990 -1.318359
         two     -2.242985  0.145137
qux      one      1.891695 -1.465361
         two     -1.173463 -1.717235